<launch>
    <!-- EMQT: admin  password: kbw123456 -->
    <!-- Calib Params -->
    <param name="camera_info" value="$(find detection_fusion)/config/camera_info.yml" />
    <param name="trans_matrix" value="$(find detection_fusion)/config/trans_matrix.yml" />
    <!-- Model Params -->
    <param name="tracker_type" value="KCF" />
    <param name="classes_file" value="$(find detection_fusion)/config/coco.names" />
    <param name="model_config" value="$(find detection_fusion)/config/yolo-fastest-xl.cfg" />
    <param name="model_weights" value="$(find detection_fusion)/config/yolo-fastest-xl.weights" />
    <!-- Sub. Topics -->
    <param name="camera_topic" value="/hik_cam_node/hik_camera" />
    <param name="lidar_topic" value="/livox/lidar" />
    <!-- Pub Topics -->
    <param name="fusion_topic" value="/hik_img" />
    <param name="pub_detec_info" value="/detecInfo" />
    <param name="pub_event" value="/eventInfo" />
    <!-- Service -->
    <param name="srv_show_pcd" value="show_pcd" />
    <param name="srv_show_line" value="show_line" />
    <param name="srv_set_event" value="set_event" />
    <param name="srv_get_config" value="get_config" />
    <param name="srv_set_line_roi" value="set_line_roi" />
    <param name="srv_set_detec_params" value="set_detec_params" />
    <param name="srv_set_topic" value="set_topic" />
    <!-- 检测参数 -->
    <param name="output_video_fps" type="int" value="15" />
    <param name="object_detec_interval" type="int" value="5" />
    <param name="event_detec_interval" type="int" value="10" />
    <!-- 事件参数 -->
            <!-- 交通拥堵车辆速度阈值，和密度阈值 -->
    <param name="event_jam_speed" type="double" value="10" />
    <param name="event_jam_threshold" type="double" value="40" />
            <!-- 异常停车事件坐标的方差 -->
    <param name="event_park_variance" type="double" value="0.1" />
    <!-- 启动节点 -->
    <node pkg="detection_fusion" type="detection_fusion_node" name="detection_fusion_node" output="screen">
    </node>
</launch>